<section class="container">
    <h1>Cadastrar diretor</h1>
    <% if flash[:notice] %>
        <div style="margin: 16px 0px; color: red">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <%= form_for @director do |f| %>
        <div class="flex-container input-wrapper">
            <%= f.label :name, 'Nome: ' %>
            <%= f.text_field :name %>
        </div>
        <div class="flex-container input-wrapper">
            <%= f.label 'Foto: ' %>
            <div class="flex-container file-btn-wrapper">
                <%= f.label :photo, 'Carregar foto', class:"file-btn" %>
                <%= f.file_field :photo %>
            </div>
        </div>
        <div class="flex-container input-wrapper">
            <%= f.label :name, 'Nacionalidade: ' %>
            <%= f.text_field :nationality %>
        </div>
        <div class="flex-container input-wrapper">
            <%= f.label :name, 'Data de nascimento: ' %>
            <%= f.date_field :born_date %>
        </div>
        <div class="flex-container input-wrapper">
            <%= f.label :name, 'Gênero favorito: ' %>
            <%= f.select :genre_id, @select_content %>
        </div>
        <%= f.submit 'Cadastrar' %>
    <% end %>
</section>